<style>
  .aurora-ng-data-list{
    display: inline-block;
    position: relative;
    background: #fff;
  }
  .aurora-ng-data-list input,
  .selectable-data-list .items-holder{
    width: 400px;
  }
  .aurora-ng-data-list .items-holder{
    background: #fff;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: auto;
    position: absolute;
    z-index: 100;
  }
  .aurora-ng-data-list .items-holder > span{
    cursor: pointer;
  }
  .aurora-ng-data-list .items-holder > span:hover{
    background: rgba(128,128,128,0.5);
  }
  .aurora-ng-data-list .items-holder > span.current-item{
  background: green;
  }
</style>
<div class="aurora-ng-data-list">
  <input ng-model="toAddItemQuery" up-arrow-key-press="upArrowKeyPressed()" down-arrow-key-press="downArrowKeyPressed()" enter-key-press="pickItem({selectedItem:currentItem})" ng-change="setSelectToInitial()"/>
  <div class="items-holder">
    <span ng-repeat="item in (filteredItems = (items | filter:toAddItemQuery))" ng-class="currentItem==item?'current-item':''" ng-click="pickItem({selectedItem:item})">{{item[toShowProperty]}}</span>
  </div>
</div>
